.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Header{
  height: 60px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px rgb(194, 250, 250);
  
}
.title{
  align-items: center;
}
.menu{
  border: none;
}
.Prdcts{
  padding: 8px;
}
.carticon{
  font-size: 30px;
  margin-right: 60px;
  cursor: pointer;
}
.PageContent{
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: 2px;
}
.Footer{
  height: 30px;
  background-color: rgb(210, 242, 255);
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.card,.crdBadge{
  margin: 8px;
}
.cardImage{
  height: 150px !important;
  object-fit: scale-down;
}
